@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<style>
    .form-03-main {
        margin: 0 auto; 
    }

</style>
@* <div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h2>Use a local account to log in.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.UserNameOrEmail" class="form-control" autocomplete="username" aria-required="true" placeholder="Your username or email" />
                    <label asp-for="Input.UserNameOrEmail" class="form-label">Username or Email</label>
                    <span asp-validation-for="Input.UserNameOrEmail" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to log in.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div> *@


 <div class="row">
    <div class="col-md-12">
        <section>
            <form id="account" method="post">
                <div class="_lk_de">
                    <div class="form-03-main ">
                        <div class="logo">
                            <img src="~/images/avatar/user.png">
                        </div>
                        <div class="form-group">
                            <input asp-for="Input.UserNameOrEmail" class="form-control _ge_de_ol" type="text" required aria-required="true" placeholder="Your username or email">
                        </div>
                        <div class="">
                            <span asp-validation-for="Input.UserNameOrEmail" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input asp-for="Input.Password" type="password" id="password" class="form-control _ge_de_ol" placeholder="Your password" aria-required="true" required>
                            <span onclick="togglePasswordVisibility()" class="position-absolute end-0 top-50 translate-middle-y" style="margin-right: 20px; cursor: pointer;">
                                <i id="eyeIcon" class="fa-solid fa-eye"></i>
                            </span>
                        </div>
                        <div class="form-floating">
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>

                        <div class="checkbox form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="">
                                <label class="form-check-label" for="">
                                    <input class="form-check-input" asp-for="Input.RememberMe" />@Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </div>

                        <div class="form-group">
                            <div class="_btn_04">
                                <button type="submit" style="background-color: #2b3990; color:white; border:none; width:100%">Login</button>
                            </div>
                        </div>
                        <div class="checkbox form-group">
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register</a>
                        </div>
                
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script>
    function togglePasswordVisibility() {
        var passwordInput = document.getElementById("password");
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            eyeIcon.classList.remove("fa-eye");
            eyeIcon.classList.add("fa-eye-slash");
        } else {
            passwordInput.type = "password";
            eyeIcon.classList.remove("fa-eye-slash");
            eyeIcon.classList.add("fa-eye");
        }
    }
</script>